mixin accordion()
  .accordion-list
    .accordion-list__item.isActive 
      .accordion-list__header 
        .accordion-list__title День 1. Встреча. Экскурсия на Музыкальный грот.
        button#accordion-btn-0.accordion-list__button
      .accordion-list__content 
        p Встреча гостей до 11.00 утра в аэропорту (ж/д вокзал) г. Краснодара (либо же, кто на своём транспорте, приезжает самостоятельно к 13.00). На заказном автотранспорте отправляемся в горы, в хутор Гуамка, где располагаемся в Гостевом доме. После расселения и ознакомления с условиями проживания, обедаем.
        p Обед в 13.30 - 14.00.  
        p После обеда первая пешая двух часовая прогулка на Грот «Музыкальный». Весь путь займёт порядком 5-ть километров. Музыкальный грот (Концертный). Пеший маршрут начинается прямо с Гостевого дома (2-а часа). Не требует специальной подготовки. Огромный грот с прекрасной акустикой и со следами пребывания человека среднего палеолита-неандертальца. По пути встретится горный родник, из которого можно испить чистейшей воды. Маршрут проходит по лесу, в конце пути крутой, но короткий подъем.
        p Ужин 18.00
    .accordion-list__item
      .accordion-list__header 
        .accordion-list__title День 2. Адыгея. Хаджохская теснина и водопады р. Руфабго
        button#accordion-btn-0.accordion-list__button
      .accordion-list__content 
        p Встреча гостей до 11.00 утра в аэропорту (ж/д вокзал) г. Краснодара (либо же, кто на своём транспорте, приезжает самостоятельно к 13.00). На заказном автотранспорте отправляемся в горы, в хутор Гуамка, где располагаемся в Гостевом доме. После расселения и ознакомления с условиями проживания, обедаем.
        p Обед в 13.30 - 14.00.  
        p После обеда первая пешая двух часовая прогулка на Грот «Музыкальный». Весь путь займёт порядком 5-ть километров. Музыкальный грот (Концертный). Пеший маршрут начинается прямо с Гостевого дома (2-а часа). Не требует специальной подготовки. Огромный грот с прекрасной акустикой и со следами пребывания человека среднего палеолита-неандертальца. По пути встретится горный родник, из которого можно испить чистейшей воды. Маршрут проходит по лесу, в конце пути крутой, но короткий подъем.
        p Ужин 18.00
    .accordion-list__item
      .accordion-list__header 
        .accordion-list__title День 3. Чинарский и Университетский водопады.
        button#accordion-btn-0.accordion-list__button
      .accordion-list__content 
        p Встреча гостей до 11.00 утра в аэропорту (ж/д вокзал) г. Краснодара (либо же, кто на своём транспорте, приезжает самостоятельно к 13.00). На заказном автотранспорте отправляемся в горы, в хутор Гуамка, где располагаемся в Гостевом доме. После расселения и ознакомления с условиями проживания, обедаем.
        p Обед в 13.30 - 14.00.  
        p После обеда первая пешая двух часовая прогулка на Грот «Музыкальный». Весь путь займёт порядком 5-ть километров. Музыкальный грот (Концертный). Пеший маршрут начинается прямо с Гостевого дома (2-а часа). Не требует специальной подготовки. Огромный грот с прекрасной акустикой и со следами пребывания человека среднего палеолита-неандертальца. По пути встретится горный родник, из которого можно испить чистейшей воды. Маршрут проходит по лесу, в конце пути крутой, но короткий подъем.
        p Ужин 18.00
    .accordion-list__item
      .accordion-list__header 
        .accordion-list__title День 4. Кубинские водопады и три часа релакса в бассейне.
        button#accordion-btn-0.accordion-list__button
      .accordion-list__content 
        p Встреча гостей до 11.00 утра в аэропорту (ж/д вокзал) г. Краснодара (либо же, кто на своём транспорте, приезжает самостоятельно к 13.00). На заказном автотранспорте отправляемся в горы, в хутор Гуамка, где располагаемся в Гостевом доме. После расселения и ознакомления с условиями проживания, обедаем.
        p Обед в 13.30 - 14.00.  
        p После обеда первая пешая двух часовая прогулка на Грот «Музыкальный». Весь путь займёт порядком 5-ть километров. Музыкальный грот (Концертный). Пеший маршрут начинается прямо с Гостевого дома (2-а часа). Не требует специальной подготовки. Огромный грот с прекрасной акустикой и со следами пребывания человека среднего палеолита-неандертальца. По пути встретится горный родник, из которого можно испить чистейшей воды. Маршрут проходит по лесу, в конце пути крутой, но короткий подъем.
        p Ужин 18.00
    .accordion-list__item
      .accordion-list__header 
        .accordion-list__title День 5. Экскурсия в Гуамское ущелье и на панорамные точки
        button#accordion-btn-0.accordion-list__button
      .accordion-list__content 
        p Встреча гостей до 11.00 утра в аэропорту (ж/д вокзал) г. Краснодара (либо же, кто на своём транспорте, приезжает самостоятельно к 13.00). На заказном автотранспорте отправляемся в горы, в хутор Гуамка, где располагаемся в Гостевом доме. После расселения и ознакомления с условиями проживания, обедаем.
        p Обед в 13.30 - 14.00.  
        p После обеда первая пешая двух часовая прогулка на Грот «Музыкальный». Весь путь займёт порядком 5-ть километров. Музыкальный грот (Концертный). Пеший маршрут начинается прямо с Гостевого дома (2-а часа). Не требует специальной подготовки. Огромный грот с прекрасной акустикой и со следами пребывания человека среднего палеолита-неандертальца. По пути встретится горный родник, из которого можно испить чистейшей воды. Маршрут проходит по лесу, в конце пути крутой, но короткий подъем.
        p Ужин 18.00
    .accordion-list__item
      .accordion-list__header 
        .accordion-list__title День 6. Экскурсии на Мезмайские полки и Орлиные скалы
        button#accordion-btn-0.accordion-list__button
      .accordion-list__content 
        p Встреча гостей до 11.00 утра в аэропорту (ж/д вокзал) г. Краснодара (либо же, кто на своём транспорте, приезжает самостоятельно к 13.00). На заказном автотранспорте отправляемся в горы, в хутор Гуамка, где располагаемся в Гостевом доме. После расселения и ознакомления с условиями проживания, обедаем.
        p Обед в 13.30 - 14.00.  
        p После обеда первая пешая двух часовая прогулка на Грот «Музыкальный». Весь путь займёт порядком 5-ть километров. Музыкальный грот (Концертный). Пеший маршрут начинается прямо с Гостевого дома (2-а часа). Не требует специальной подготовки. Огромный грот с прекрасной акустикой и со следами пребывания человека среднего палеолита-неандертальца. По пути встретится горный родник, из которого можно испить чистейшей воды. Маршрут проходит по лесу, в конце пути крутой, но короткий подъем.
        p Ужин 18.00
    .accordion-list__item
      .accordion-list__header 
        .accordion-list__title День 7. Прощание с горами
        button#accordion-btn-0.accordion-list__button
      .accordion-list__content 
        p Встреча гостей до 11.00 утра в аэропорту (ж/д вокзал) г. Краснодара (либо же, кто на своём транспорте, приезжает самостоятельно к 13.00). На заказном автотранспорте отправляемся в горы, в хутор Гуамка, где располагаемся в Гостевом доме. После расселения и ознакомления с условиями проживания, обедаем.
        p Обед в 13.30 - 14.00.  
        p После обеда первая пешая двух часовая прогулка на Грот «Музыкальный». Весь путь займёт порядком 5-ть километров. Музыкальный грот (Концертный). Пеший маршрут начинается прямо с Гостевого дома (2-а часа). Не требует специальной подготовки. Огромный грот с прекрасной акустикой и со следами пребывания человека среднего палеолита-неандертальца. По пути встретится горный родник, из которого можно испить чистейшей воды. Маршрут проходит по лесу, в конце пути крутой, но короткий подъем.
        p Ужин 18.00

mixin accordion-events()
  .accordion-list
    .accordion-list__item.isActive 
      .accordion-list__header 
        .accordion-list__title Что включено
        button#accordion-btn-0.accordion-list__button
      .accordion-list__content 
        ul 
          li.allow трансфер* (аэропорт, ж/д вокзал г. Краснодар - пос. Гуамка);
          li.allow  Если аэропорт г. Краснодара будет закрыт, прошу брать билеты в аэропорт г. Сочи, далее Вам нужно будет приехать к нам на электричке от Адлера к станции Хадыженская (в этом случае, туром предусмотрена компенсация билетов на электричку в одну сторону Адлер - станция Хадыженская, также обратный трансфер х. Гуамка - станция Хадыженская будет включён в стоимость тура).
          li.allow  Проживание в комфортабельных номерах. (на территории базы есть WiFi, в пос. Гуамка нормально работают сотовые операторы МТС (интернет 4G) и Мегафон (интернет EDGE)) В посёлке Гуамка нет банкоматов, близ стоящий в 40-а километрах.
          li.allow  Купание в бассейне 3-и часа (один раз). Крытый бассейн с возможностью выплыть под открытое небо. Бассейн находится рядом с местом вашего проживания, буквально пройти 100 метров, (гидромассаж, детская зона, душевые, туалет, индивидуальные шкафчики для одежды).
          li.allow  Питание 3-х разовое. (т.к. экскурсионная программа дня предполагает возвращение на базу только вечером, то выдаётся ланч-бокс на обед, а ужин в этот день включает в себя, в том числе первое блюдо);
          li.allow  Работа инструкторов по программе;
    .accordion-list__item
      .accordion-list__header 
        .accordion-list__title Что не включено
        button#accordion-btn-0.accordion-list__button
      .accordion-list__content 
        ul 
          li.not-allow  Купание в геотермальных источниках: (вход взрослый: выходные и праздничные дни 400 руб час, будний день 300 руб час; детский: до 6-ти лет бесплатно; от 6-ти до 14 лет 50% от стоимости билета для взрослых.)
          li.not-allow После ужина, можно сходить в крытый бассейн, с возможностью выплыть под открытое небо. Бассейн находится рядом с местом вашего проживания, буквально пройти 100 метров, цена со взрослого 2-а часа 500 руб., (гидромассаж, детская зона, душевые, туалет, индивидуальные шкафчики для одежды). За отдельную плату есть турецкий "Хамам", Финская баня.
          li.not-allow Стоимость 500 рублей с одного человека к станции Хадыженская.
          li.not-allow Стоимость 800 рублей с одного человека на ж/д вокзал, аэропорт г. Краснодара.
    .accordion-list__item
      .accordion-list__header 
        .accordion-list__title Авиабилеты
        button#accordion-btn-0.accordion-list__button
      .accordion-list__content 
        p Старт: 20 марта, 11:00 (местное время), Краснодар
        p Финиш: 26 марта, 10:00 (местное время), хутор Гуамка
        p Если аэропорт г. Краснодара будет закрыт, прошу брать билеты в аэропорт г. Сочи, далее Вам нужно будет приехать к нам на электричке от Адлера к станции Хадыженская (в этом случае, туром предусмотрена компенсация билетов на электричку в одну сторону Адлер - станция Хадыженская, также обратный трансфер х. Гуамка - станция Хадыженская будет включён в стоимость тура).

<!--accordion template-->
//- mixin accordion()
//-   .accordion-list
//-     .accordion-list__item.isActive 
//-       .accordion-list__header 
//-         .accordion-list__title Can I return all or part of my order?
//-         button#accordion-btn-0.accordion-list__button
//-       .accordion-list__content 
//-         p Наша компания занимается отделкой помещений. Мы берём в работу весь объект целиком. Не выполняем отдельные виды работ: замена пола, покраска потолка, укладка плитки и т.д.
//-         p Мы работаем по договору. Сначала встречаемся на объекте для обмера и оценки состояния объекта. Это обязательно! После этого на основе замеров и информации об объекте составляем смету.
//-         p Нельзя составить точную смету без выезда на объект. Сделать это удалённо можно, только если ткнуть пальцем в небо. Если «сметчик-замерщик» или «мастер-прораб» из другой компании начинает работу без выезда на объект, готовьтесь к тому, что будут незапланированные расходы.
//-     .accordion-list__item
//-       .accordion-list__header 
//-         .accordion-list__title Выполняете мелкие работы по ремонту?
//-         button#accordion-btn-0.accordion-list__button
//-       .accordion-list__content 
//-         p Наша компания занимается отделкой помещений. Мы берём в работу весь объект целиком. Не выполняем отдельные виды работ: замена пола, покраска потолка, укладка плитки и т.д.
//-         p Мы работаем по договору. Сначала встречаемся на объекте для обмера и оценки состояния объекта. Это обязательно! После этого на основе замеров и информации об объекте составляем смету.
//-         p Нельзя составить точную смету без выезда на объект. Сделать это удалённо можно, только если ткнуть пальцем в небо. Если «сметчик-замерщик» или «мастер-прораб» из другой компании начинает работу без выезда на объект, готовьтесь к тому, что будут незапланированные расходы.
//-     .accordion-list__item
//-       .accordion-list__header 
//-         .accordion-list__title Выполняете мелкие работы по ремонту?
//-         button#accordion-btn-0.accordion-list__button
//-       .accordion-list__content 
//-         p Наша компания занимается отделкой помещений. Мы берём в работу весь объект целиком. Не выполняем отдельные виды работ: замена пола, покраска потолка, укладка плитки и т.д.
//-         p Мы работаем по договору. Сначала встречаемся на объекте для обмера и оценки состояния объекта. Это обязательно! После этого на основе замеров и информации об объекте составляем смету.
//-         p Нельзя составить точную смету без выезда на объект. Сделать это удалённо можно, только если ткнуть пальцем в небо. Если «сметчик-замерщик» или «мастер-прораб» из другой компании начинает работу без выезда на объект, готовьтесь к тому, что будут незапланированные расходы.