mixin footer()
  
  footer.main-footer
    .container.main-footer__container
      .column-one 
        a.column-one__logo(href="#") Название и фраза
        p.column-one__slogan Описание
      .column-second 
        .column-second__item 
          p.column-second__title Безопасная оплата
          ul 
            li 
              a(href="#") Бронируйте туры через нашу надежную платежную систему
        .column-second__item 
          p.column-second__title Безопасная оплата
          ul 
            li 
              a(href="#") Бронируйте туры через нашу надежную платежную систему
        .column-second__item 
          p.column-second__title Безопасная оплата
          ul 
            li 
              a(href="#") Бронируйте туры через нашу надежную платежную систему
        .column-second__item 
          p.column-second__title Безопасная оплата
          ul 
            li 
              a(href="#") Бронируйте туры через нашу надежную платежную систему
      .column-three 
        ul 
          li 
            a(href="#") Поиск отелей 
          li 
            a(href="#") Поиск тура
          li 
            a(href="#") Зарегистрировать свой объект
          li 
            a(href="#") Помощь
      .column-four 
        p.column-four__title Подпишитесь, чтобы получать лучшие предложения
        form.mailing-form.mailing-form--footer(action="#")
          .mailing-form__row.mailing-form__row--footer
            input.mailing-form__input.mailing-form__input--footer(type="email" name="email" placeholder="Введите ваш e-mail")
            button.mailing-form__button.mailing-form__button--footer(type="submit") Подписаться
          .privacy Нажимая на кнопку, вы соглашаетесь с Политикой конфиденциальности.