mixin tabs()
  .tabs.js-tabs 
    ul.tabs__buttons.tabs-slider.js-slider
      .swiper.js-slider-tabs 
        .swiper-wrapper.swiper-wrapper--tab
          .swiper-slide.swiper-slide--tab
            li.tabs__button.tabs__button--active.js-tabs__button(data-tab-index="1") Весь каталог
          .swiper-slide.swiper-slide--tab 
            li.tabs__button.js-tabs__button(data-tab-index="2") Посуда
          .swiper-slide.swiper-slide--tab 
            li.tabs__button.js-tabs__button(data-tab-index="3") Казаны чугунные
          .swiper-slide.swiper-slide--tab 
            li.tabs__button.js-tabs__button(data-tab-index="4") Казаны афганские
          .swiper-slide.swiper-slide--tab 
            li.tabs__button.js-tabs__button(data-tab-index="5") Мангалы
          .swiper-slide.swiper-slide--tab 
            li.tabs__button.js-tabs__button(data-tab-index="6") Тандыры
          .swiper-slide.swiper-slide--tab 
            li.tabs__button.js-tabs__button(data-tab-index="7") Ножи
          .swiper-slide.swiper-slide--tab 
            li.tabs__button.js-tabs__button(data-tab-index="8") Казаны чугунные
          .swiper-slide.swiper-slide--tab 
            li.tabs__button.js-tabs__button(data-tab-index="9") Казаны афганские
          .swiper-slide.swiper-slide--tab 
            li.tabs__button.js-tabs__button(data-tab-index="10") Казаны афганские
          .swiper-slide.swiper-slide--tab 
            li.tabs__button.js-tabs__button(data-tab-index="11") Казаны афганские
          .swiper-slide.swiper-slide--tab 
            li.tabs__button.js-tabs__button(data-tab-index="12") Казаны афганские
          .swiper-slide.swiper-slide--tab 
            li.tabs__button.js-tabs__button(data-tab-index="13") Казаны афганские
          .swiper-slide.swiper-slide--tab 
            li.tabs__button.js-tabs__button(data-tab-index="14") Казаны афганские
          .swiper-slide.swiper-slide--tab 
            li.tabs__button.js-tabs__button(data-tab-index="15") Казаны кавказские
      .swiper-pagination.tabs-progress
    .tabs__content.tabs__content--active.js-tabs__content(data-tab-index="1")
      .catalog-slider 
          .popular-slider.js-slider 
            .swiper
              .swiper-wrapper.catalog-slider__wrapper
                .swiper-slide.catalog-slider__item 
                  .popular-slider__item 
                    .popular-slider__top
                      .slider-inner.js-slider
                        .swiper.js-slider-catalog 
                          .swiper-wrapper 
                            .swiper-slide 
                              .slider-inner__item 
                                img(src="img/knife.png", alt="")
                                .slider-inner__new Новое
                    p.popular-slider__header Очень длинное наименование этого отличноготовара
                    .price 
                      .price__current 2099 Руб.
                      .price__old 2099 Руб.
                    button.button.popular__button В корзину
                .swiper-slide.catalog-slider__item 
                  .popular-slider__item 
                    .popular-slider__top
                      .slider-inner.js-slider
                        .swiper.js-slider-inner 
                          .swiper-wrapper 
                            .swiper-slide 
                              .slider-inner__item 
                                img(src="img/knife.png", alt="")
                                .slider-inner__new Новое
                    p.popular-slider__header Очень длинное наименование этого отличноготовара
                    .price 
                      .price__current 2099 Руб.
                      .price__old 2099 Руб.
                    button.button.popular__button В корзину
                .swiper-slide.catalog-slider__item 
                  .popular-slider__item 
                    .popular-slider__top
                      .slider-inner.js-slider
                        .swiper.js-slider-inner 
                          .swiper-wrapper 
                            .swiper-slide 
                              .slider-inner__item 
                                img(src="img/knife.png", alt="")
                                .slider-inner__new Новое
                    p.popular-slider__header Очень длинное наименование этого отличноготовара
                    .price 
                      .price__current 2099 Руб.
                      .price__old 2099 Руб.
                    button.button.popular__button В корзину
                .swiper-slide.catalog-slider__item 
                  .popular-slider__item 
                    .popular-slider__top
                      .slider-inner.js-slider
                        .swiper.js-slider-inner 
                          .swiper-wrapper 
                            .swiper-slide 
                              .slider-inner__item 
                                img(src="img/knife.png", alt="")
                                .slider-inner__new Новое
                    p.popular-slider__header Очень длинное наименование этого отличноготовара
                    .price 
                      .price__current 2099 Руб.
                      .price__old 2099 Руб.
                    button.button.popular__button В корзину
                .swiper-slide.catalog-slider__item 
                  .popular-slider__item 
                    .popular-slider__top
                      .slider-inner.js-slider
                        .swiper.js-slider-inner 
                          .swiper-wrapper 
                            .swiper-slide 
                              .slider-inner__item 
                                img(src="img/knife.png", alt="")
                                .slider-inner__new Новое
                    p.popular-slider__header Очень длинное наименование этого отличноготовара
                    .price 
                      .price__current 2099 Руб.
                      .price__old 2099 Руб.
                    button.button.popular__button В корзину
                .swiper-slide.catalog-slider__item 
                  .popular-slider__item 
                    .popular-slider__top
                      .slider-inner.js-slider
                        .swiper.js-slider-inner 
                          .swiper-wrapper 
                            .swiper-slide 
                              .slider-inner__item 
                                img(src="img/knife.png", alt="")
                                .slider-inner__new Новое
                    p.popular-slider__header Очень длинное наименование этого отличноготовара
                    .price 
                      .price__current 2099 Руб.
                      .price__old 2099 Руб.
                    button.button.popular__button В корзину
                .swiper-slide.catalog-slider__item 
                  .popular-slider__item 
                    .popular-slider__top
                      .slider-inner.js-slider
                        .swiper.js-slider-inner 
                          .swiper-wrapper 
                            .swiper-slide 
                              .slider-inner__item 
                                img(src="img/knife.png", alt="")
                                .slider-inner__new Новое
                    p.popular-slider__header Очень длинное наименование этого отличноготовара
                    .price 
                      .price__current 2099 Руб.
                      .price__old 2099 Руб.
                    button.button.popular__button В корзину
                .swiper-slide.catalog-slider__item 
                  .popular-slider__item 
                    .popular-slider__top
                      .slider-inner.js-slider
                        .swiper.js-slider-inner 
                          .swiper-wrapper 
                            .swiper-slide 
                              .slider-inner__item 
                                img(src="img/knife.png", alt="")
                                .slider-inner__new Новое
                    p.popular-slider__header Очень длинное наименование этого отличноготовара
                    .price 
                      .price__current 2099 Руб.
                      .price__old 2099 Руб.
                    button.button.popular__button В корзину