extends ../layout/main-booking

block mainVariables
  - pageTitle = 'Бронирование тура';

block mainContent
  main.main
    section.inner 
      .container.inner__container 
        .breadcrumbs 
          .breadcrumbs__item
            a(href="#") Главная
          .breadcrumbs__item
            a(href="#") Туры крыма
          .breadcrumbs__item
            a(href="#") Название тура
          .breadcrumbs__item.breadcrumbs__item--current 
            a Бронирование
        .inner-content.js-sticky
          .inner-content__main
            .guest-contacts 
              .guest-top
                p.guest-top__title Контактные данные путешественника
                .guest-top__rows 
                  .guest-top__row
                    label.guest-top__label(for="name") Имя*
                    input.guest-top__input(type="text" placeholder="Введите Ваше имя" name="client")
                  .guest-top__row
                    label.guest-top__label(for="lastName") Фамилия*
                    input.guest-top__input(type="text" placeholder="Введите Вашу фамилию" name="last-name") 
                  .guest-top__row
                    label.guest-top__label(for="email") Электронная почта*
                    input.guest-top__input(type="email" placeholder="Введите email" name="email")
                  .guest-top__row
                    label.guest-top__label(for="phone") Телефон для связи*
                    input.guest-top__input(type="tel" placeholder="+79298765465" name="phone")
                  .guest-top__row
                    label.guest-top__label День рождения*
                    .select-birthday
                      .filter__options.select-birthday__item.select-birthday__item--days
                        select.select-birthday__select.filter__select(id="day" name="dd")
                      .filter__options.select-birthday__item.select-birthday__item--months
                        select.select-birthday__select.filter__select(id="month" name="mm" onchange="change_month(this)")
                      .filter__options.select-birthday__item.select-birthday__item--years
                        select.select-birthday__select.filter__select(id="year" name="yyyy" onchange="change_year(this)")
                  .guest-top__row 
                    label.guest-top__label Пол*
                    .gender-select.filter-select 
                      .filter-select__row.gender-select__row 
                        label.filter-select__label
                          input.filter-select__input(type="radio" name="gender" value="Женский" checked)
                          span.filter-select__name Женский
                      .filter-select__row.gender-select__row  
                        label.filter-select__label
                          input.filter-select__input(type="radio" name="gender" value="Мужской")
                          span.filter-select__name Мужской
                        

              .guest-bottom 
                .guest-bottom__title Оплата кредитной или дебетовой картой
                p.guest-bottom__text Как только вы нажмёте «Завершить бронирование», с вашей карты будет списана полная стоимость проживания.
                .card-pay 
                  .card-pay__head 
                    .card-pay__row 
                      label.card-pay__label(for="number-card") Номер карты*
                      input.card-pay__input(type="text" placeholder="1234 5678 9123 4567")  
                    .card-pay__row.card-pay__row--double 
                      .card-pay__field 
                        label.card-pay__label(for="long") Действует до*
                        input.card-pay__input(type="text" placeholder="12/25")
                      .card-pay__field 
                        label.card-pay__label(for="cvc") CVC/CVV*
                        input.card-pay__input(type="text" placeholder="122")
                    .card-pay__row 
                      label.card-pay__label(for="name-card") Имя на карте*
                      input.card-pay__input(type="text" placeholder="OLGA IVANOVA") 
                    .card-info
                      label.card-save
                        input.card-save__input(type="checkbox")
                        span.card-save__title Сохранить карту 
                      .card-info__block(id="card-info") 
                        +icon('info-product', 'icon-info-product')
                        .card-tooltip 
                          p.card-tooltip__title Сохраните карту в личном кабинете
                          p.card-tooltip__text Сохраните данные карты, чтобы не вводить их заново при оплате следующих бронирований. Список сохраненных карт можно посмотреть в личном кабинете
                  .card-methods 
                    .card-methods__text Мы принимаем
                    .card-methods__items 
                      img(src="img/visa.png", alt="")
                      img(src="img/mir.png", alt="")
                      img(src="img/maestro.png", alt="")
                      img(src="img/ymoney.png", alt="")
                button.booking-button Завершить бронирование
                .privacy Нажимая «Завершить бронирование», Вы принимаете Правила бронирования.
          aside.inner-content__sidebar
            .sidebar-content.js-sticky__item 
              .select-date 
                .select-date__top 
                  p.select-date__top-text Активный тур "Осень, зима, весна" (Горная Адыгея и Кубань)
                  p.select-date__total-days 7 дней
                  p.select-date__duration Старт: <span class="select-date__day">20 марта 2022 (Воскресенье)</span>
                  p.select-date__duration Финиш: <span class="select-date__day">26 марта 2022 (Суббота)</span>
                  .filter__options
                    select.filter__select 
                      option(value="1") 1-6 марта
                      option(value="2") 7-13 марта
                      option(value="3") 14-20 марта
                      option(value="4") 20-26 марта
                .select-date__bottom 
                  .select-date__count 
                    span Количество участников
                    .qty
                      button.qty__btn.qty__btn--minus &minus;
                      input(type="number" name="qty" min="1" max="10" step="1" value="1")
                      button.qty__btn.qty__btn--plus &plus; 
                .cost-item.cost-item--tours
                  .cost-item__first
                    .cost-item__label
                      .cost-item__name К оплате сейчас
                      .cost-item__mini 26 000 ₽ х 1 
                    .cost-item__value 26 000 ₽
                  .cost-item__first
                    .cost-item__label
                      .cost-item__name Комиссия сервиса
                    .cost-item__value 500 ₽
                .cost-total
                  .cost-total__text Итого
                  .cost-total__price 25 457 ₽