extends ../layout/main-hotel

block mainVariables
  - pageTitle = 'Подбор отеля';

block mainContent
  main.main
    section.inner 
      .container.inner__container 
        .breadcrumbs 
          .breadcrumbs__item
            a(href="#") Главная
          .breadcrumbs__item.breadcrumbs__item--current 
            a Отели Крыма
        .inner-content 
          aside.inner-content__sidebar 
            .sidebar-content
              .sidebar-map карта Здесь предствалены все варианты размещения из возможных по данному параметру на данные даты
              .filter
                .filter__item 
                  p.filter__title Название отеля
                  input.filter-input(type="text" placeholder="Например, Hilton")
                .filter__item 
                  p.filter__title Сортировка
                  .filter__options
                    select.filter__select(name="") 
                      option(value="1") По популярности
                      option(value="1") Сначала дешевые
                      option(value="1") Сначала дорогие
                      option(value="1") С высокой оценкой
              .filter-select 
                .filter-select__title Питание
                .filter-select__row 
                  label.filter-select__label
                    input.filter-select__input(type="radio" name="food" value="Питание не включено")
                    span.filter-select__name Питание не включено
                  .filter-select__count 56
                .filter-select__row 
                  label.filter-select__label
                    input.filter-select__input(type="radio" name="food" value="Завтрак включен")
                    span.filter-select__name Завтрак включен
                  .filter-select__count 56 
                .filter-select__row 
                  label.filter-select__label
                    input.filter-select__input(type="radio" name="food" value="Завтрак + обед или ужин")
                    span.filter-select__name Завтрак + обед или ужин 
                  .filter-select__count 56 
                .filter-select__row 
                  label.filter-select__label
                    input.filter-select__input(type="radio" name="food" value="Завтрак, обед и ужин включены ")
                    span.filter-select__name Завтрак, обед и ужин включены 
                  .filter-select__count 56 
                .filter-select__row 
                  label.filter-select__label
                    input.filter-select__input(type="radio" name="food" value="Все включено")
                    span.filter-select__name Все включено
                  .filter-select__count 56
              .filter-select 
                .filter-select__title Количество звезд
                .filter-select__row 
                  label.filter-select__label.filter-select__label--s1
                    input.filter-select__input(type="radio" name="rating" value="5")
                    span.filter-select__name.filter-select__name--star Питание не включено
                  .filter-select__count 56
                .filter-select__row 
                  label.filter-select__label.filter-select__label--s2
                    input.filter-select__input(type="radio" name="rating" value="4")
                    span.filter-select__name.filter-select__name--star Завтрак включен
                  .filter-select__count 56 
                .filter-select__row 
                  label.filter-select__label.filter-select__label--s3
                    input.filter-select__input(type="radio" name="rating" value="3")
                    span.filter-select__name.filter-select__name--star Завтрак + обед или ужин 
                  .filter-select__count 56 
                .filter-select__row 
                  label.filter-select__label.filter-select__label--s4
                    input.filter-select__input(type="radio" name="rating" value="2")
                    span.filter-select__name.filter-select__name--star Завтрак, обед и ужин включены 
                  .filter-select__count 56 
                .filter-select__row 
                  label.filter-select__label.filter-select__label--s5
                    input.filter-select__input(type="radio" name="rating" value="1")
                    span.filter-select__name.filter-select__name--star Все включено
                  .filter-select__count 56 
              .filter-select 
                .filter-select__title Цена
                .filter-select__row.filter-select__row--range 
                  .filter-select__slider(id="range-slider") 
                  .filter-select__inputs 
                    .filter-select__price
                      input(id="input-0" type="tel" class="filter-select__inputs-input")
                    .filter-select__price
                      input(id="input-1" type="tel" class="filter-select__inputs-input")
              .filter-select 
                .filter-select__title Тип размещения
                .filter-select__row 
                  label.filter-select__label
                    input.filter-select__input(type="radio" name="building" value="Отели")
                    span.filter-select__name Отели
                  .filter-select__count 56
                .filter-select__row 
                  label.filter-select__label
                    input.filter-select__input(type="radio" name="building" value="Хостелы")
                    span.filter-select__name Хостелы
                  .filter-select__count 56 
                .filter-select__row 
                  label.filter-select__label
                    input.filter-select__input(type="radio" name="building" value="Апартаменты")
                    span.filter-select__name Апартаменты 
                  .filter-select__count 56 
                .filter-select__row 
                  label.filter-select__label
                    input.filter-select__input(type="radio" name="building" value="Коттеджи, виллы, бунгало")
                    span.filter-select__name Коттеджи, виллы, бунгало 
                  .filter-select__count 56 
                .filter-select__row 
                  label.filter-select__label
                    input.filter-select__input(type="radio" name="building" value="Кемпинги")
                    span.filter-select__name Кемпинги
                  .filter-select__count 56
              .filter-select 
                .filter-select__title Услуги и удобства
                .filter-select__item
                  .filter-select__subtitle В отеле
                  .filter-select__row 
                    label.filter-select__label
                      input.filter-select__input(type="radio" name="building" value="Бесплатный интернет")
                      span.filter-select__name Бесплатный интернет
                    .filter-select__count 56
                  .filter-select__row 
                    label.filter-select__label
                      input.filter-select__input(type="radio" name="building" value="Трансфер")
                      span.filter-select__name Трансфер
                    .filter-select__count 56 
                  .filter-select__row 
                    label.filter-select__label
                      input.filter-select__input(type="radio" name="building" value="Парковка")
                      span.filter-select__name Парковка 
                    .filter-select__count 56 
                  .filter-select__row 
                    label.filter-select__label
                      input.filter-select__input(type="radio" name="building" value="Бассейн")
                      span.filter-select__name Бассейн 
                    .filter-select__count 56 
                  .filter-select__row 
                    label.filter-select__label
                      input.filter-select__input(type="radio" name="building" value="Фитнес")
                      span.filter-select__name Фитнес
                    .filter-select__count 56
                  .filter-select__row 
                    label.filter-select__label
                      input.filter-select__input(type="radio" name="building" value="Бар")
                      span.filter-select__name Бар
                    .filter-select__count 56
                  .filter-select__row 
                    label.filter-select__label
                      input.filter-select__input(type="radio" name="building" value="Пляж рядом")
                      span.filter-select__name Пляж рядом
                    .filter-select__count 56
                  .filter-select__row 
                    label.filter-select__label
                      input.filter-select__input(type="radio" name="building" value="Горнолыжный склон рядом")
                      span.filter-select__name Горнолыжный склон рядом
                    .filter-select__count 56
                .filter-select__item
                  .filter-select__subtitle В номере
                  .filter-select__row 
                    label.filter-select__label
                      input.filter-select__input(type="radio" name="room" value="Кондиционер")
                      span.filter-select__name Кондиционер
                    .filter-select__count 56
                  .filter-select__row 
                    label.filter-select__label
                      input.filter-select__input(type="radio" name="room" value="Ванная комната в номере")
                      span.filter-select__name Ванная комната в номере
                    .filter-select__count 56 
                  .filter-select__row 
                    label.filter-select__label
                      input.filter-select__input(type="radio" name="room" value="Окно в номере")
                      span.filter-select__name Окно в номере 
                    .filter-select__count 56 
                  .filter-select__row 
                    label.filter-select__label
                      input.filter-select__input(type="radio" name="room" value="Кухня")
                      span.filter-select__name Кухня
                    .filter-select__count 56 
                  .filter-select__row 
                    label.filter-select__label
                      input.filter-select__input(type="radio" name="room" value="Балкон")
                      span.filter-select__name Балкон
                    .filter-select__count 56
              .filter-select 
                .filter-select__title Вид из окна
                .filter-select__row 
                  label.filter-select__label
                    input.filter-select__input(type="radio" name="view" value="На море")
                    span.filter-select__name На море
                  .filter-select__count 56
                .filter-select__row 
                  label.filter-select__label
                    input.filter-select__input(type="radio" name="view" value="На горы")
                    span.filter-select__name На горы
                  .filter-select__count 56 
                .filter-select__row 
                  label.filter-select__label
                    input.filter-select__input(type="radio" name="view" value="На реку/озеро")
                    span.filter-select__name На реку/озеро
                  .filter-select__count 56 
                .filter-select__row 
                  label.filter-select__label
                    input.filter-select__input(type="radio" name="view" value="На город")
                    span.filter-select__name На город 
                  .filter-select__count 56 
              .filter-bottom 
                button.filter-bottom__reset(type="reset") Очистить
                button.filter-bottom__apply(type="submit") Применить фильтры
          .inner-content__main 
            p.inner-content__header Крым: доступно 427 из 2696 отелей
            ul.card-hotel 
              li.card-hotel__item 
                .card-hotel__img 
                  img(src="img/card-hotel.jpg", alt="") 
                  .card-hotel__rating 9.3
                .card-hotel__body 
                  .hotel-top 
                    .hotel-top__right 
                      .rating 
                        img(src="img/star.png", alt="") 
                        img(src="img/star.png", alt="") 
                        img(src="img/star.png", alt="") 
                        img(src="img/star.png", alt="") 
                        img(src="img/star.png", alt="")
                      p.hotel-top__title Название отеля
                      .hotel-top__location 
                        +icon('location', 'hotel-location')
                        p.hotel-top__text Крым, Россия
                    .hotel-top__left 
                      .price от 25 457 ₽
                      button.hotel-top__button Показать цены
                  .hotel-description Небольшой апарт-отель в центре Аланьи. Удобные апартаменты с аккуратной обстановкой, хороший набор услуг, до пляжа Клеопатра пара шагов. Для спокойного отдыха, подойдет для длительного размещения.
                  a.hotel-more(href="#") Подробнее
                  button.hotel-button Показать цены
              li.card-hotel__item 
                .card-hotel__img 
                  img(src="img/card-hotel.jpg", alt="") 
                  .card-hotel__rating 9.3
                .card-hotel__body 
                  .hotel-top 
                    .hotel-top__right 
                      .rating 
                        img(src="img/star.png", alt="") 
                        img(src="img/star.png", alt="") 
                        img(src="img/star.png", alt="") 
                        img(src="img/star.png", alt="") 
                        img(src="img/star.png", alt="")
                      p.hotel-top__title Название отеля
                      .hotel-top__location 
                        +icon('location', 'hotel-location')
                        p.hotel-top__text Крым, Россия
                    .hotel-top__left 
                      .price от 25 457 ₽
                      button.hotel-top__button Показать цены
                  .hotel-description Небольшой апарт-отель в центре Аланьи. Удобные апартаменты с аккуратной обстановкой, хороший набор услуг, до пляжа Клеопатра пара шагов. Для спокойного отдыха, подойдет для длительного размещения.
                  a.hotel-more(href="#") Подробнее
                  button.hotel-button Показать цены
              li.card-hotel__item 
                .card-hotel__img 
                  img(src="img/card-hotel.jpg", alt="") 
                  .card-hotel__rating 9.3
                .card-hotel__body 
                  .hotel-top 
                    .hotel-top__right 
                      .rating 
                        img(src="img/star.png", alt="") 
                        img(src="img/star.png", alt="") 
                        img(src="img/star.png", alt="") 
                        img(src="img/star.png", alt="") 
                        img(src="img/star.png", alt="")
                      p.hotel-top__title Название отеля
                      .hotel-top__location 
                        +icon('location', 'hotel-location')
                        p.hotel-top__text Крым, Россия
                    .hotel-top__left 
                      .price от 25 457 ₽
                      button.hotel-top__button Показать цены
                  .hotel-description Небольшой апарт-отель в центре Аланьи. Удобные апартаменты с аккуратной обстановкой, хороший набор услуг, до пляжа Клеопатра пара шагов. Для спокойного отдыха, подойдет для длительного размещения.
                  a.hotel-more(href="#") Подробнее
                  button.hotel-button Показать цены
              li.card-hotel__item 
                .card-hotel__img 
                  img(src="img/card-hotel.jpg", alt="") 
                  .card-hotel__rating 9.3
                .card-hotel__body 
                  .hotel-top 
                    .hotel-top__right 
                      .rating 
                        img(src="img/star.png", alt="") 
                        img(src="img/star.png", alt="") 
                        img(src="img/star.png", alt="") 
                        img(src="img/star.png", alt="") 
                        img(src="img/star.png", alt="")
                      p.hotel-top__title Название отеля
                      .hotel-top__location 
                        +icon('location', 'hotel-location')
                        p.hotel-top__text Крым, Россия
                    .hotel-top__left 
                      .price от 25 457 ₽
                      button.hotel-top__button Показать цены
                  .hotel-description Небольшой апарт-отель в центре Аланьи. Удобные апартаменты с аккуратной обстановкой, хороший набор услуг, до пляжа Клеопатра пара шагов. Для спокойного отдыха, подойдет для длительного размещения.
                  a.hotel-more(href="#") Подробнее
                  button.hotel-button Показать цены
              li.card-hotel__item 
                .card-hotel__img 
                  img(src="img/card-hotel.jpg", alt="") 
                  .card-hotel__rating 9.3
                .card-hotel__body 
                  .hotel-top 
                    .hotel-top__right 
                      .rating 
                        img(src="img/star.png", alt="") 
                        img(src="img/star.png", alt="") 
                        img(src="img/star.png", alt="") 
                        img(src="img/star.png", alt="") 
                        img(src="img/star.png", alt="")
                      p.hotel-top__title Название отеля
                      .hotel-top__location 
                        +icon('location', 'hotel-location')
                        p.hotel-top__text Крым, Россия
                    .hotel-top__left 
                      .price от 25 457 ₽
                      button.hotel-top__button Показать цены
                  .hotel-description Небольшой апарт-отель в центре Аланьи. Удобные апартаменты с аккуратной обстановкой, хороший набор услуг, до пляжа Клеопатра пара шагов. Для спокойного отдыха, подойдет для длительного размещения.
                  a.hotel-more(href="#") Подробнее
                  button.hotel-button Показать цены
    section.mailing-list 
      .container.mailing-list__container 
        .mailing-list__top
          +icon('mail', 'icon-mail')
          h2.mailing-list__title Подпишитесь, чтобы получать лучшие предложения
        form.mailing-form(action="#")
          .mailing-form__row 
            input.mailing-form__input(type="email" name="email" placeholder="Введите ваш e-mail")
            button.mailing-form__button(type="submit") Подписаться
          .privacy Нажимая на кнопку, вы соглашаетесь с Политикой конфиденциальности.